@media (max-width: 1250px) {
    .navigation__logo {
        font-size: 20px;
    }
    .table__item {
        max-width: calc(100% - 32px);
    }

    .table__head p,
    .table__item p {
        font-size: 12px;
    }
    .table__head {
        padding: 0 16px 14px;
    }
}

@media (max-width: 1001px) {
    .wrapper-main {
        flex-direction: column;
        position: relative;
    }
    .navigation {
        min-height: auto;
        flex-direction: row;
        max-width: none;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        overflow: visible;
    }
    .navigation__list {
        gap: 8px;
        width: 40%;
    }
    .navigation__burger {
        display: block;
    }
    .navigation__item {
        opacity: 0;
        transform: translate3d(0, -.5rem, 0);
        transition: opacity 1s ease, transform 1s ease;
    }
    .navigation.open .navigation__item {
        opacity: 1;
        translate: translateZ(0);
    }
    .navigation__menu {
        position: absolute;
        z-index: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: .75rem 1rem;
        top: 100%;
        left: 0;
        padding: 1rem 1rem 2rem;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transform: translate3d(0, -2rem, 0);
        transition: opacity 1s ease, visibility .5s ease, transform 1s ease;
        transition-delay: 1s;
    }
    .navigation.open .navigation__menu {
        opacity: 1;
        visibility: visible;
        transform: translateZ(0);
        transition-delay: 0s;
    }
    .header__burger {
        display: block;
        position: relative;
        z-index: 10;
        margin-left: auto;
    }
    .navigation__burger {
        position: relative;
        height: 24px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;
    }
    .navigation.open .top {
        -webkit-transform: translateY(9px) translateX(0) rotate(45deg);
        transform: translateY(9px) translateX(0) rotate(35deg);
        background: #000;
    }
    .navigation.open .middle {
        opacity: 0;
        background: #000;
    }
    .navigation.open .bottom {
        -webkit-transform: translateY(-9px) translateX(0) rotate(-45deg);
        transform: translateY(-9px) translateX(0) rotate(-35deg);
        background: #000;
    }
    .navigation__burger span {
        background: #000;
        border: none;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer;
    }
    .navigation__burger span:nth-of-type(2) {
        top: 9px;
    }
    
    .navigation__burger span:nth-of-type(3) {
        top: 18px;
    }
}

@media (max-width: 800px) {
    .navigation {
        padding: 16px;
        align-items: center;
    }
    .customers__scroll-container {
        overflow: scroll;
    }
    .table {
        width: 1000px;
    }
    .customers__bottom {
        padding-top: 40px;
    }
}

@media (max-width: 576px) {
    .container {
        padding: 0 16px;
    }
    .navigation__list {
        width: 100%;
    }
    .navigation__menu {
        width: 94%;
    }
    .customers__box {
        padding: 16px 0;
    }
    .customers__header {
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 16px;
        padding: 0 16px;
    }
    .customers__header-search {
        width: 100%;
    }
    .customers__header-search input {
        width: 100%;
        max-width: none;
    }
    .customers__bottom {
        flex-direction: column;
    }
    .customers__bottom-info {
        margin-bottom: 10px;
    }
    .navigation__logo {
        font-size: 16px;
    }
    .navigation__logo svg {
        flex: none;
    }
    .navigation__user img {
        width: 30px;
        height: 30px;
    }
}